<!DOCTYPE html>
<html>
<head>
<style>
#header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}
 
body {
	background-color:lightgrey;
	font-family: sans-serif;
}
#summation {
	font-size: 18px;
	font-weight: bold;
	color:#174C68;
}

.txt {
	background-color: #FEFFB0;
	font-weight: bold;
	text-align: right;
}

h1   {color:white}
p {
	border:1px solid grey;
	padding:10px;
	margin:30px;
	color:red;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
 
<body>
<div id="header">
	<h1>Hello World</h1>
</div>
	<p>Wassup?</p>
	<p>This is my sample.</p>
	<img src="WhteverYouDo.gif" alt="Hi" style="width:304px;height:228px;">
	
	<p>Image to use:</p>
	<img id="scream" src="img_the_scream.jpg" alt="The Scream" width="220" height="277">

	<p>Canvas to fill:</p>
	<canvas id="myCanvas" width="250" height="300"style="border:1px solid #d3d3d3;"></canvas>

<p><button onclick="myCanvas()">Try it</button></p>

<table width="300px" border="1" style="border-collapse:collapse">

<tr>
	<td width="40px">1</td>
	<td>Value 1</td>
	<td><input class="txt" type="text" name="txt"/></td>
</tr>
<tr>
	<td>2</td>
	<td>Value 2</td>
	<td><input class="txt" type="text" name="txt"/></td>
</tr>

<tr id="summation">
	<td>&nbsp;</td>
	<td align="right">Sum :</td>
<td align="center"><span id="sum">0</span></td>
</tr>

</table>

<script>
	$(document).ready(function(){
		$(".txt").each(function() {
			$(this).keyup(function(){
			calculateSum();
            });
		});
 
	});
 
	function calculateSum() {
 
		var sum = 0;
		$(".txt").each(function() {
			if(!isNaN(this.value) && this.value.length!=0) {
			sum += parseFloat(this.value);
            }
 
		});
		$("#sum").html(sum.toFixed(2));
	}
	function myCanvas() {
		var c = document.getElementById("myCanvas");
		var ctx = c.getContext("2d");
		var img = document.getElementById("scream");
		ctx.drawImage(img,10,10);
}
</script>

</body>
</html>